ipython
langchain
#langchain-community
langchain-core
#langchain-deepseek
#langchain-mcp-adapters
langchain-ollama
#langchain-openai
langgraph
langgraph-cli[inmem]
langsmith
logger
#mcp[cli]
pydantic
python-dotenv
requests
streamlit
typing_extensions
